@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-06-01 09:43:49
 * @version $Id$
 */*{margin:0px;padding:0px;}
body{font-size:12px; font-family:"微软雅黑"; color:#838181; line-height:20px; background:#fff;}
a:link{ color:#838181; text-decoration:none;}
a:visited { color:#838181;}
a:hover { color:#838181; text-decoration:none;}
.clearfix:after { content:""; height:0; visibility:hidden; display:block; clear:both; font-size:0;}
.clearfix{ zoom:1 }
.wrapper{width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr { float:right;}
ul,li { list-style:none}
img,li{vertical-align: middle; border:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
.bk {border:1px solid red;}


/*文本部分公用样式 开始*/
.case-top {text-align:center;}
.case-top i { display:inline-block;*display:inline;*zoom:1;background:url(../images/constuction-site.png) no-repeat 0 center;width:279px; height:22px;margin-bottom:17px;vertical-align:top;}
.case-top p { font-size:20px; color:#3a424d;}

/*头部样式 开始*/
.header { background:#000; height:80px;width:100%; min-width:1200px;}
.header .logo { float:left;line-height:80px;}
.logo img {margin:0 40px 0 39px;}
.header .nav>ul>li { float:left;text-align:center;transition:all .3s;position: relative;z-index: 9999}
.header .nav>ul>li>a {font-size:14px; color:#fff;width:139px; height:80px;line-height:80px;display: block;}
.header .nav>ul>li:hover{background: #00a72b;}
.header .nav>ul>li:hover ul {display: block;}
.header .nav>ul>li ul li a:hover {background: #4ea965;/*transform: rotateX(20deg);*/ }
.header .nav>ul>li ul{position: absolute;top: 80px;left: 0px;display:none;}
.header .nav>ul>li ul li a {width:139px;height: 50px;display: block;font-size: 14px;color: #fff;text-align: center;line-height: 50px;border-top: 1px solid #666;background: #000;background: rgba(0,0,0,.6);transition:all .3s;}


/*banner样式  开始*/
.banner {width: 100%;height:;min-width: 1200px;}
div.banner img {width: 100%;}


/*在建工地详情样式  开始*/
.constuction-site {width:100%;min-width:1200px; padding-top: 33px;position: relative;background: #f3f3f3;overflow: hidden;}

.constuction-site .wrapper {position: relative;}
.constuction-site ul li {background: #fff;}
.constuction-site .case-top i { display:inline-block;*display:inline;*zoom:1;background:url(../images/constuction-site.png) no-repeat 0 center;width:289px; height:23px;vertical-align:top;}
.constuction-site  .case-top p { font-size:20px; color:#3a424d;margin-top:-5px;padding-bottom:80px;}
.constuction-site  .line-long {height:1px;background:#dedfe0; position:absolute;top:113px; left:0px;width:100%;}
.constuction-site  .line-shirt { position:absolute;top:111px; left:50%;width:27px;background:#00a72b;margin-left:-13.5px;height:3px;}
.constuction-site .gps {font-size: 16px;color: #8e8e8e;padding-top: 10px;display: block;position: absolute;top: -40px;right:0px;}
.constuction-site .case{background: #fff;padding-right: 50px;padding-left: 50px;padding-top: 25px;margin-top: 20px;height: 1430px;}
.constuction-site .case ul.case-list li {width: 1050px;background: #f3f3f3;padding:25px 25px;*padding-bottom:10px;margin-bottom: 25px;position: relative;}
.constuction-site .case ul.case-list li a.case01{float: left;}
.constuction-site .case ul.case-list li a.case01 img{margin-right: 35px;}
.constuction-site .case ul.case-list li i {display: block;height: 1px;width: 200px;background:#00a72b;margin-left: 336px;margin-bottom: 18px;}
.constuction-site .case ul.case-list li h3 {font-size: 16px;color: #333;padding-top: 10px;padding-bottom: 18px;display:block;width: 600x;}
.constuction-site .case ul.case-list li a.case02 {float: left;width: 100px;height: 100px;margin-right: 14px;}
.constuction-site .case ul.case-list li p{display: inline-block;*display: inline;*zoom:1; float: left; }
.constuction-site .case ul.case-list li p.case-txt01 {font-size: 16px;color: #333;margin-top: 2px;line-height: 20px;}
.constuction-site .case ul.case-list li p.case-txt01 span {margin-left: 10px;color: #8e8e8e;font-size: 12px;}
.constuction-site .case ul.case-list li p.case-txt02 {font-size: 12px;color: #8e8e8e;margin-top: 29px;margin-left: -116px;line-height: 14px;}
.constuction-site .case ul.case-list li p.case-txt03{margin-top: 56px;margin-left: 108px;line-height: 14px;}
.constuction-site .case ul.case-list li .view-date {width: 60px;float: right;margin-top: -58px;}
.constuction-site .case ul.case-list li .view-date a {font-size: 12px;color: #8e8e8e;display:block;}
.constuction-site .case ul.case-list li .view-date p {font-size: 12px;color: #8e8e8e;margin-top :157px;line-height: 13px;}
.constuction-site .case ul.case-list li .view-date a:hover {color: #00a72b;}
.constuction-site .case ul.case-list li p.case-btn01 a {font-size: 12px;color: #8e8e8e;display: block;width: 100px;height: 30px;}
.constuction-site .case ul.case-list li p.case-btn02 a {font-size: 12px;color: #8e8e8e;display: block;width: 100px;height: 30px;}
.constuction-site .case ul.case-list li p.case-btn01,.constuction-site .case ul li p.case-btn02 {border:1px solid #dedfe0;width: 100px;height: 30px;text-align: center;line-height: 30px;position: absolute;top:194px;right: 129px;
    transition:all .3s;}
.constuction-site .case ul.case-list li p.case-btn01 {margin-right:120px;}
.constuction-site .case ul.case-list li p.case-btn01:hover {border: 1px solid #00a72b;background: #00a72b;} 
.constuction-site .case ul.case-list li p.case-btn01:hover a{color: #fff;}
.constuction-site .case ul.case-list li p.case-btn02:hover a {border: 1px solid #00a72b;background: #00a72b;color: #fff;}




/*翻页样式  开始*/
.constuction-site .case .page ul{text-align: center;margin-bottom:20px;}
.constuction-site .case .page ul li a {display:block;font-size: 12px;color: #333;}
.constuction-site .case .page ul li{display: inline-block;*display:inline;*zoom:1;width: 30px;height: 30px;text-align: center;line-height: 30px;border:1px solid #dedfe0;margin-right: 8px; transition:all .3s;}
.constuction-site .case .page ul li.page01 {width: 70px;}
.constuction-site .case .page ul li:hover {background: #00a72b;border: 1px solid #00a72b;}
.constuction-site .case .page ul li:hover a {color:#fff;}


/*底部导航样式  开始*/
.footer { background:#3a424d;width: 100%;height:436px;position: relative;padding-top:42px;margin-top:41px;}
.footer ul.pic{font-size:0;margin-left:58px;}
.footer ul.pic li{display: inline-block;*display:inline;*zoom:1;margin-right:147px;z-index:99999px;position:relative;}
.footer ul.pic li img {display: block;}
.footer ul.pic li .picupdown {height: 65px;overflow: hidden;transition:all .3s;}
.footer ul.pic li:hover .picupdown .picup,.footer ul.pic li:hover .picupdown .picover{transform:translate(0,-66px);}
.footer ul.pic li a{display: block;}
.footer ul.pic li a.pic01right {width:76px;height:60px;background:url(../images/about-q.png) no-repeat;display: block; margin:3px 0 0 32px ;}

.footer ul.pic li a.footer-pic02 {width:45px;height:54px;background:url(../images//about-Brand.png) no-repeat;display: block;transition:all .5s }
.footer ul.pic li a.pic02right {width:76px;height:54px;background:url(../images/about-b.png) no-repeat;display: block; margin:3px 0 0 32px ;}
.footer ul.pic li a.pic03right {width:76px;height:55px;background:url(../images/about-d.png) no-repeat;display: block; margin:3px 0 0 32px ;}


.footer ul.pic li a.pic04right {width:76px;height:54px;background:url(../images/about-s.png) no-repeat;display: block; margin:3px 0 0 32px ;}
.footer .footer-pic .service  {margin-right:0;}
.footer .line-long {height:1px;background:#5b616a; position:absolute;top:129px; left:0px;width:100%;z-index:-99999px;}
.footer .footer-left{float:left;}
.footer .footer-left .left01 {width:430px;padding: 81px 0 17px 0;border-bottom: 1px solid #5b616a;margin-bottom: 16px;}
.footer .footer-left .left01 h3 {font-size: 20px;color: #d8d9db;margin-bottom:20px;}
.footer .footer-left .left01 p {font-size: 12px;color:#d8d9db;line-height: 28px;}
.footer .footer-left .left02 p.contact {font-size: 12px;color:#d8d9db;width: 115px;float: left;margin-top: 18px;}
.footer .footer-left .left02 p.icon {float: left;width:250px;margin-left: 11px;}
.footer .footer-left .left02 p.icon a:nth-child(1){position:relative;width: 50px;height: 50px;display: inline-block;*display: inline;*zoom:1;}
.footer .footer-left .left02 p.icon a:nth-child(1):after{content:"";background: url(../images/weibo222.png) no-repeat;width: 50px;height: 0px; position: absolute;top:50%;bottom: 50%;;z-index: 9999;display: block;transition: all .5s;background-position: center center;}
.footer .footer-left .left02 p.icon a:nth-child(1):hover:after{;height: 50px;top: 0;bottom:0;}
.footer .footer-left .left02 p.icon a.icon02{position:relative;width: 49px;height: 49px;display: inline-block;*display: inline;*zoom:1;}
.footer .footer-left .left02 p.icon a.icon02:after{content:"";background: url(../images/weixin002.png) no-repeat;width: 49px;height: 0px; position: absolute;top:50%;bottom: 50%;z-index: 9999;display: block;transition: all .5s;background-position: center center;}
.footer .footer-left .left02 p.icon a.icon02:hover:after{height: 49px;top: 0;bottom:0;}
.footer .footer-left .left02 p a.icon02 {margin-left: 23px;}
.footer .footer-middle-line {width:1px;height:139px;background:#5b616a;float:left;margin:0 47px;margin-top:99px;}
.footer .footer-middle { width:258px;margin-top:73px;float:left;}
.footer .footer-middle .footer-m-l ul  { font-size:12px; color:#d8d9db;}
.footer .footer-middle .footer-m-l ul a { font-size:12px; color:#d8d9db;cursor:pointer;}
.footer .footer-middle .footer-m-l ul a:hover {color:#00a72b;}
.footer .footer-middle .footer-m-l { width:258px;}
.footer .footer-middle .footer-m-l ul li { padding-bottom:14px;margin-bottom:12px;border-bottom:1px solid #5b616a;}
.footer .footer-middle .footer-m-l ul li span { float:right;*margin-top:-35px;}
.footer .footer-middle .footer-m-l p { font-size:20px;color:#d8d9db;margin-bottom:21px;}
.footer .footer-right-line {width:1px;height:139px;background:#5b616a;float:left;margin:0 47px;margin-top:99px;}
.footer .footer-right-01 { width:136px;margin-top:73px;float:left;}
.footer .footer-right-01 .footer-m-l p { font-size:20px;color:#d8d9db;margin-bottom:21px;}
.footer .footer-right-01 .footer-m-l ul a { font-size:12px; color:#d8d9db;cursor:pointer;}
.footer .footer-right-01 .footer-m-l ul a:hover {color:#00a72b;}
.footer .footer-right-01 .footer-m-l ul li { padding-bottom:14px;margin-bottom:12px;border-bottom:1px solid #5b616a;}
.footer .footer-right-01 .footer-m-l ul li span { float:right;background:url(../images/arrow.png) no-repeat;width:13px;height:7px;margin-top:6px;*margin-top:-28px;}
.footer .footer-right-02 { width:136px;float:right;margin-top:113px;}
.footer .footer-right-02 ul li a { font-size:12px;color:#d8d9db;;}
.footer .footer-right-02 ul li a:hover { color:#00a72b;}
.footer .footer-right-02 .footer-m-l ul li span { float:right;background:url(../images/arrow.png) no-repeat;width:13px;height:7px;margin-top:6px;*margin-top:-28px;}
.footer .footer-right-02 .footer-m-l ul li { padding-bottom:14px;margin-bottom:12px;border-bottom:1px solid #5b616a;}
