a {
  text-decoration: none; }

.wrapper {
  max-width: 7.50rem;
  min-width: 3.20rem;
  background: #efeeee;
  margin: 0 auto;
  padding-bottom: 0.3rem; }
  .wrapper .swiper-pagination-bullets {
    bottom: -0.15rem; }
    .wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
      background: #fff;
      width: 0.18rem;
      height: 0.18rem;
      opacity: 1; }
    .wrapper .swiper-pagination-bullets .swiper-pagination-bullet-active {
      background: #41ca2a;
      border: 1px solid #fff; }

.swiper-container {
  width: 7.50rem;
  height: 3.07rem; }
  .swiper-container img {
    width: 100%;
    height: 100%; }

.homepage ul, .homepage li {
  margin: 0;
  padding: 0;
  list-style: none; }

.homepage .item {
  width: 7.50rem;
  margin-top: 0.15rem;
  background: #fff;
  font-size: 0; }

.homepage .nav {
  margin: 0 0.32rem;
  padding: 0.35rem 0; }
  .homepage .nav a {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative; }
    .homepage .nav a i {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -0.535rem;
      width: 1.07rem;
      height: 1.07rem;
      border-radius: 50%;
      color: #fff; }
    .homepage .nav a p {
      margin-top: 1.2rem;
      margin-bottom: 0.25rem;
      font-size: 0.3rem;
      color: #3e3e3e; }
    .homepage .nav a .i1 {
      line-height: 1.16rem;
      background: #fd6d46;
      font-size: 0.5rem; }
    .homepage .nav a .i2 {
      line-height: 1.05rem;
      background: #ffb504;
      font-size: 0.62rem; }
    .homepage .nav a .i3 {
      line-height: 1.03rem;
      background: #41ca2a;
      font-size: 0.62rem; }
    .homepage .nav a .i4 {
      line-height: 1.02rem;
      background: #26c9d8;
      font-size: 0.62rem; }

.homepage .blank {
  width: 100%;
  height: 0.23rem;
  border-bottom: 0.05rem solid #fca000; }

.homepage .main {
  width: 7.2rem;
  margin: 0 auto;
  font-size: 0; }
  .homepage .main button {
    margin-bottom: 0.15rem;
    width: 100%;
    height: 0.55rem;
    line-height: 0.55rem;
    background: #0eb852;
    font-size: 0.32rem;
    text-align: center;
    color: #fff;
    border: none; }
  .homepage .main p {
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.26rem;
    text-align: center; }
    .homepage .main p span {
      color: #ef9d0e; }
  .homepage .main ul {
    margin: 0 0.57rem; }
    .homepage .main ul li {
      float: left;
      margin-top: 0.1rem;
      color: #999999;
      font-size: 0.22rem; }
    .homepage .main ul li:nth-of-type(1) {
      width: 20%; }
    .homepage .main ul li:nth-of-type(2), .homepage .main ul li:nth-of-type(3) {
      width: 25%; }
    .homepage .main ul li:nth-of-type(4), .homepage .main ul li:nth-of-type(5) {
      width: 15%; }
  .homepage .main ul:nth-of-type(2) {
    padding-bottom: 0.32rem; }

.homepage .alter {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.32rem; }
  .homepage .alter i {
    font-size: 0.35rem;
    color: #fca000; }

.homepage .search {
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  padding: 0.3rem 3%;
  font-size: 0.24rem;
  background: url(../images/homepage-square.png) no-repeat 97% center;
  background-size: 0.22rem 0.21rem; }

.homepage .selection {
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  width: 3.48rem;
  font-size: 0.28rem;
  padding: 0.22rem 0.17rem;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 14px;
  background: url(../images/homepage-arrow-down.png) no-repeat scroll 3rem center transparent;
  background-size: 0.25rem 0.13rem; }
  .homepage .selection select::-ms-expand {
    display: none; }
  .homepage .selection option {
    width: 3.48rem;
    font-size: 0.28rem; }

.homepage .s1 {
  float: left; }

.homepage .s2 {
  float: right; }

.homepage .pic1 {
  text-align: center; }
  .homepage .pic1 img {
    width: 6.43rem; }

.homepage .show {
  margin: 0 auto;
  margin-top: 0.1rem;
  padding: 0 0.15rem;
  width: 7.2rem;
  height: 0.65rem;
  line-height: 0.65rem;
  border-bottom: 1px solid #ccc; }
  .homepage .show p:nth-of-type(1) {
    float: left;
    font-size: 0.3rem; }
  .homepage .show p:nth-of-type(2) {
    float: right; }
    .homepage .show p:nth-of-type(2) a {
      font-size: 0.26rem;
      color: #999999; }
  .homepage .show i {
    float: left;
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0.34rem;
    color: #0eb852; }

.homepage .line {
  width: 7.2rem;
  margin: 0 auto;
  margin-top: 0.15rem;
  font-size: 0; }
  .homepage .line p {
    font-size: 0.28rem; }

.homepage .discount .pic2 img {
  width: 100%; }

.homepage .discount .p-l2 {
  padding-bottom: 0.1rem; }
  .homepage .discount .p-l2 img {
    width: 48.6%; }
  .homepage .discount .p-l2 img:nth-child(odd) {
    float: left; }
  .homepage .discount .p-l2 img:nth-child(even) {
    float: right; }

.homepage .discount .recommend a {
  width: 47.2%; }
  .homepage .discount .recommend a img {
    width: 100%; }

.homepage .discount .recommend a:nth-child(odd) {
  float: left; }

.homepage .discount .recommend a:nth-child(even) {
  float: right; }

.homepage .discount .recommend .cont {
  margin-top: 0.1rem;
  margin-bottom: 0.13rem;
  position: relative; }

.homepage .discount .recommend span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.28rem;
  color: #0eb852; }
  .homepage .discount .recommend span i {
    font-size: 0.28rem;
    color: #0eb852; }

.homepage .discount .link1 {
  padding-bottom: 0.55rem; }
  .homepage .discount .link1 a {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.15rem;
    font-size: 0;
    position: relative; }
    .homepage .discount .link1 a img {
      width: 100%; }
    .homepage .discount .link1 a div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.525rem;
      margin-left: -2.1rem;
      width: 4.2rem;
      height: 1.05rem;
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 0.05rem; }
      .homepage .discount .link1 a div p:nth-of-type(1) {
        margin-top: 0.2rem;
        font-size: 0.24rem; }
      .homepage .discount .link1 a div p:nth-of-type(2) {
        margin-top: 0.1rem;
        font-size: 0.24rem; }

.homepage .information .line img {
  float: left; }

.homepage .information .line .i1 {
  width: 2.4rem; }

.homepage .information .line .i2 {
  width: 1.66rem; }

.homepage .information .line .news {
  float: right;
  padding-top: 0.05rem;
  line-height: 0.38rem;
  width: 4.47rem;
  font-size: 0.28rem; }

.homepage .information .line .location {
  float: left;
  margin-left: 0.12rem;
  font-size: 0.28rem; }
  .homepage .information .line .location li {
    line-height: 0.56rem; }

.homepage .information .address {
  padding-bottom: 0.5rem; }
