.container-wh-login {
  background: url("../images/bg1.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "微软雅黑"; }
  .container-wh-login input {
    outline: none; }
  .container-wh-login .logo {
    position: relative;
    top: 1.3rem;
    left: 50%;
    width: 1.88rem;
    margin-left: -0.94rem; }
  .container-wh-login .infor {
    margin-top: 1.9rem;
    padding: 0 0.15rem; }
  .container-wh-login .line {
    width: 100%;
    position: relative; }
  .container-wh-login .in-before {
    font-size: 0.6rem;
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem; }
  .container-wh-login .in-content {
    width: 6.4rem;
    height: 0.6rem;
    font-size: 0.3rem;
    　　　　color: #000;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    background-color: #fff;
    padding: 0.15rem 0 0.15rem 0.8rem; }
  .container-wh-login .in-before-pwd {
    bottom: 0.2rem; }
  .container-wh-login .sure {
    text-align: center; }
  .container-wh-login .sub {
    width: 6.6rem;
    height: 1.1rem;
    font-size: 0.3rem;
    　　　　color: #000;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    background-color: #fff; }
  .container-wh-login .foot {
    margin: 0.35rem 0.45rem;
    font-size: 0.28rem; }
    .container-wh-login .foot .left {
      float: left;
      color: #000; }
    .container-wh-login .foot .right {
      float: right;
      color: #000; }
  .container-wh-login :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000; }
  .container-wh-login ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000; }
  .container-wh-login input:-ms-input-placeholder,
  .container-wh-login textarea:-ms-input-placeholder {
    color: #000; }
  .container-wh-login input::-webkit-input-placeholder,
  .container-wh-login textarea::-webkit-input-placeholder {
    color: #000; }
